@import "tailwindcss";

:root {
  --background: #fff7ed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  @apply fixed py-4 px-20 text-sm h-16 z-50 top-0 right-0 left-0 flex items-center justify-between before:content-[''] 
    before:absolute before:bottom-0 before:right-12 before:left-12 before:w-[calc(100%-6rem)] before:h-[1px] before:bg-[#c9cdd2]
    max-md:px-4 max-md:before:w-[calc(100%-2rem)] max-md:before:left-4 max-md:before:right-4
     xl:px-36 xl:mx-auto transition-all duration-[400ms] ease-in-out;
}

/* xl:max-w-11/12 */

/* .slick-prev::before,
.slick-next::before {
  background-color: #16a34a !important;
  height: 24px !important;
  width: 24px !important;
  display: block !important;
}

.slick-prev::before {
  content: url("/icones/arrow-left-carrousel.png") !important;
}

.slick-next::before {
  content: url("/icones/arrow-right-carrousel.png") !important;
} */
